[Desktop Entry]
Type=Application
Name=Light
Comment=An editor
Exec=light %F
Icon=light
Terminal=false
StartupWMClass=light
Categories=Development;IDE;
MimeType=text/plain;inode/directory;
